.nabvar-bg {
    height: 75px;
}

.link-style {
    color: black !important;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 600;
}

.login-button {
    background-color: lightpink;
    border: 2px solid #222;
    border-radius: 10px;
}