.inventory-style {
    background-color: white;
}

.inventory-button {
    border-radius: 5px;
    border: 2px solid #222;
    padding: 10px 20px;
    background-color: lightpink;
}

.input-bg {
    background-color: lightblue;
    border: 2px solid pink;
    border-radius: 5px;
    width: 100px;
}